body {
}

.jumbotron {
    padding: 30px 0;
    margin-bottom: 0;
    color: black;
    background-size: cover;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: lightblue;
}

.search-section {
    background-color: #f3f4f5;
    text-align: left;
    padding: 40px 0;
    color: white;
}

.status-section {
    padding: 40px 0;
}

.rowgirl {
    background-color: lightpink;
    padding: 10px 0;
    margin: 20px 0;
}

.rowboy {
    background-color: lightblue;
    padding: 10px 0;
    margin: 20px 0;
}